.app-header {
    display: flex;
    border-bottom: 1px solid rgb(148, 148, 148);
    height: 100px;
    width: 100%;
    background-color: rgb(206, 206, 206);
}

/********* flex container *********/
.header-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
}

/********* flex items *********/
.header-container img {
    height: 35px;
    width: auto;
    margin: 0 10px 0 20px;
}

.header-container h1 {
    font-size: 250%;
    margin: 0 0 0 -5px;
    padding: 0;
}