.app-header {
    display: flex;
    border-bottom: 1px solid rgb(148, 148, 148);
    height: 100px;
}

/********* flex container *********/
.header-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

/********* flex items *********/
.header-container img {
    height: 35px;
    width: auto;
    margin: 0 15px;
}

.header-container h1 {
    font-size: 250%;
}